.search{
    margin-top: -15px;
    border-style: dashed;
    border-color: #2e6da4;
    border-width: thin;
    width: 1000px;
    height: 50px;
}

.new_mission{
    margin-top: 5px;
    border-style: dashed;
    border-color: #2e6da4;
    border-width: thin;
    width: 1000px;
    height: 225px;
    overflow: hidden;
}

.task_list{
    margin-top: 5px;
    width: 1000px;
    height: 260px;
    overflow: hidden;
    border-style: dashed;
    border-color: #2e6da4;
    border-width: thin;
}

.pages{
    margin-top: -20px;
    margin-left: 32px;
}

