.main{
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0px;
}
.new_mission{
    width: 50%;
}

.data_search{
    width: 50%;
}
.pic{
    margin-top: 200px;
    width: 400px;
    height: 400px;
}



.a-upload {
    padding: 4px 10px;
    height: 28px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}