.main{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}
.table-responsive{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}
table{
    text-align:left;



    vertical-align:bottom;
    padding:15px;
    overflow: auto;
}
table td{word-break: keep-all;white-space:nowrap;}